@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

/*===========
Variables
===========*/
:root {
  --max-nav-width: 1300px;
  --nav-height: 52px;
  --sidebar-width: 45vw;

  --max-width: 1200px;

  --transition: all 0.2s linear;
  --radius: 0.2rem;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --font-main: 'Roboto', sans-serif;
  --font-second: 'Montserrat', sans-serif;

  --clr-prim: hsl(210, 38%, 53%);
  --clr-prim-active: hsl(210, 38%, 45%);

  --grey: hsl(220, 18%, 57%);
  --grey-active: hsl(220, 18%, 52%);
  --grey-lighter: hsl(220, 10%, 80%);
  --grey-light: hsl(220, 20%, 94%);
  
  --black: hsl(340, 5%, 15%);
  --white: hsl(0, 0%, 100%);
  --white-dark: hsl(138, 10%, 98%);
}

/*===========
Global Styles
===========*/
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-dark);
  color: var(--black);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.6rem;
  letter-spacing: 0.015rem;
}

ul {
  list-style-type: none;
}

canvas {
  position: absolute;
  z-index: -1;
  opacity: 0.06;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.highlight {
  font-weight: 600;
  color: var(--clr-prim-active);
}

/*===========
Navbar
===========*/
.navbar {
  height: var(--nav-height);
  width: 100%;
  background: var(--clr-prim);
  line-height: var(--nav-height);
  color: var(--white-dark);
  position: fixed;
  box-shadow: var(--shadow);
  z-index:2;
}

.navbar-center {
  height: inherit;
  width: 90vw;
  max-width: var(--max-nav-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  transition: var(--transition);
  padding: 0 25px;
}
.navbar-logo:hover {
  transition: var(--transition);
  background-color: var(--clr-prim-active);  
}

.navbar-menu-btn {
  transition: var(--transition);
  padding: 0 0.5rem;
  height: var(--nav-height);
  width: var(--nav-height);
  line-height: calc(6px + var(--nav-height));
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.navbar-menu-btn:hover {
  transition: var(--transition);
  background-color: var(--clr-prim-active);
}

.navbar-links {
  display: none;
}

.navbar-account {
  display: none;
}

.navbar-login {
  display: none;
}

/* Responsiveness */
@media screen and (min-width: 800px) {
  .navbar-menu-btn {
    display: none;
  }
  .navbar-links {
    height: inherit;
    display: block;    
  }
  .navbar-links ul {
    height: inherit;
    display: flex;
  }
  .navbar-links ul li {
    padding: 0 2rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    transition: var(--transition);
  }
  .navbar-links ul li:hover {
    transition: var(--transition);
    background-color: var(--clr-prim-active);
  }

  .navbar-account {
    transition: var(--transition);
    display: block;
    height: var(--nav-height);
    width: var(--nav-height);
    line-height: calc(6px + var(--nav-height));
    text-align: center;
    font-size: 1rem;
  }
  .navbar-account:hover {
    transition: var(--transition);
    background-color: var(--clr-prim-active);
  }

  .navbar-login {
    transition: var(--transition);
    display: block;
    height: var(--nav-height);
    width: 6rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.04rem;
  }
  .navbar-login:hover {
    transition: var(--transition);
    background-color: var(--clr-prim-active);
  }
}

/*===========
Sidebar
===========*/
.sidebar {
  visibility: hidden;
  position: fixed;
  right: 0;
  top: var(--nav-height);
  height: 100vh;
  width: var(--sidebar-width);
  background-color: var(--grey);
  color: var(--white);
  text-align: center;
  transform: translate(var(--sidebar-width));
  transition: var(--transition);
  display: flex;
  z-index: 1;
  box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.3);
}
.sidebar ul {
  margin: 2.5rem auto 0 auto;
}
.sidebar ul li {
  transition: var(--transition);
  padding: 0.8rem;
  width: var(--sidebar-width);
  font-size: 1.2rem;
  opacity: 0.92;
}
.sidebar ul li:hover {
  transition: var(--transition);
  background-color: var(--grey-active);
  opacity: 1;
}

.sidebar.show-sidebar {
  visibility: visible;
  transform: translate(0);
}

@media screen and (min-width: 700px) {
  .sidebar {
    width: var(--sidebar-width);
  }
}
@media screen and (min-width: 800px) {
  .sidebar.show-sidebar {
    visibility: hidden;
  }
}

/*============
Homepage main
============*/
.page-container {
  padding-top: var(--nav-height);
  min-height: 50rem;
}

.homepage-main {
  height: 42rem;
  background-color: var(--white-dark);
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.homepage-main-block {
  height: 10rem;
  width: 90vw;
  max-width: var(--max-width);
  background-color: var(--grey);
  margin: auto;
  position: relative;
  box-shadow: var(--shadow);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}
.homepage-main-block h1 {
  z-index: 1;
  font-size: 1.6rem;
}
.homepage-main-block p {  
  padding-top: 1rem;
  font-size: 1.1rem;
  z-index: 1;
}
.homepage-main-block-inner {
  display: none;
}

.homepage-blocks {
  width: 90vw;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
}
.homepage-twinblock {
  min-height: 10rem;
  background-color: var(--grey);
  color: var(--white);
  box-shadow: var(--shadow);
  padding: 2rem 2rem 2rem 7.5rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.homepage-twinblock ul {
  display: flex;
  flex-wrap: wrap;
}
.homepage-twinblock li {
  padding-right: 1rem;
}
.homepage-twinblock-inner {
  height: 100%;
  width: 6rem;
  top: 0;
  left: 0;
  background-color: var(--clr-prim-active);
  opacity: 0.92;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

@media screen and (min-width: 710px) {
  .homepage-main {
    padding-top: 7rem;
    margin-bottom: 0;
  }
  .homepage-blocks {
    flex-direction: row;
  }
  .homepage-twinblock {
    width: 590px;
    max-width: 43.9vw;
    margin-bottom: 0rem;
  }
  .homepage-main-block h1 {
    z-index: 1;
    font-size: 1.9rem;
  }

  .homepage-main-block p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 750px) {
  .homepage-twinblock {
    font-size: 1rem;
  }
  .homepage-twinblock ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
  }
  .homepage-twinblock li {
    padding-right: 0rem;
  }
}

@media screen and (min-width: 900px) {
  .homepage-twinblock {
      max-width: 44.1vw;
  }
  
  .homepage-main-block-inner {
    display: block;
    height: 100%;
    width: 15rem;
    background-color: var(--grey-active);
    opacity: 0.92;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  }
  .homepage-twinblock {
    font-size: 1.1rem;
    height: 12rem;
    padding: 2rem 2rem 2rem 10rem;
  }
  .homepage-twinblock-inner {
    font-size: 1.8rem;
    width: 8rem;
  }
}

@media screen and (min-width: 1300px) {
  .homepage-twinblock ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2rem;
    text-align: start;
  }
}

/*============
Homepage about
============*/
.homepage-about {
  background-color: var(--grey-light);
}
.homepage-about h1 {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 0.7rem;
  font-size: 1.95rem;
}
.homepage-about-text { 
  padding-bottom: 7rem;
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto; 
  font-size: 1rem;
}
.homepage-about-text p {
  padding-top: 2rem;
  text-align: justify;
  font-family: var(--font-second);
}

.underline-thick {
  width: 7rem;
  height: 5px;
  border-radius: var(--radius);
  background-color: var(--clr-prim-active);
  margin: auto;
}

@media screen and (min-width: 875px) {
  .homepage-about-text {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, 0.05rem);
    column-gap: 2.5rem;
    row-gap: 2.2rem;
    padding-bottom: 0;
  }
  .homepage-about-text>p:nth-child(1) {
    grid-column: 1;
    grid-row: 1/6;
  }
  .homepage-about-text>p:nth-child(2) {
    grid-column: 2;
    grid-row: 1/3;
  }
  .homepage-about-text>p:nth-child(3) {
    grid-column: 1;
    grid-row: 9/20;
  }
  .homepage-about-text>p:nth-child(4) {
    grid-column: 2;
    grid-row: 6/20;
  }
}

@media screen and (min-width: 970px) {
  .homepage-about-text {
    padding-bottom: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 0.8rem);
    gap: 2.5rem;
  }  
  .homepage-about-text>p:nth-child(1) {
    grid-column: 1;
    grid-row: 1/4;
  }  
  .homepage-about-text>p:nth-child(2) {
    grid-column: 2;
    grid-row: 1/3;
  }  
  .homepage-about-text>p:nth-child(3) {
    grid-column: 1;
    grid-row: 6/10;
  }  
  .homepage-about-text>p:nth-child(4) {
    grid-column: 2;
    grid-row: 4/10;
  }
}

@media screen and (min-width: 1040px) {
  .homepage-about-text {
    padding-bottom: 6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 0.8rem);
    column-gap: 2.5rem;
    row-gap: 2rem;
  }
  .homepage-about-text>p:nth-child(1) {
    grid-column: 1;
    grid-row: 1/4;
  }
  .homepage-about-text>p:nth-child(2) {
    grid-column: 2;
    grid-row: 1/3;
  }
  .homepage-about-text>p:nth-child(3) {
    grid-column: 1;
    grid-row: 6/10;
  }
  .homepage-about-text>p:nth-child(4) {
    grid-column: 2;
    grid-row: 4/10;
  }
}

@media screen and (min-width: 1250px) {
  .homepage-about-text {
    padding-bottom: 6.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 2rem);
    gap: 2.2rem;
  }
  .homepage-about-text > p:nth-child(1) {
    grid-column: 1;
    grid-row: 1/4;
  }
  .homepage-about-text>p:nth-child(2) {
    grid-column: 2;
    grid-row: 1/3;
  }
  .homepage-about-text>p:nth-child(3) {
    grid-column: 1;
    grid-row: 4/7;
  }
  .homepage-about-text>p:nth-child(4) {
    grid-column: 2;
    grid-row: 3/7;
  }
}

/*==============
Profile / account
==============*/
.user-page-text-box {
  width: min(50rem, 92vw);
  margin: 4rem auto 0 auto;
  background-color: var(--white);
  text-align: center;
  padding: 2.5rem 0 3rem 0;
  border: 1px solid var(--grey-lighter);
  box-shadow: var(--shadow);
}

.logout-btn {
  margin-top: 2rem;
  width: 70vw;
  max-width: 20rem;
  opacity: 0.95;
  height: 2.5rem;
  border-radius: 0;
  background-color: var(--clr-prim);
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  transition: var(--transition);
}
.logout-btn:hover {
  background-color: var(--clr-prim-active);
  opacity: 1;
  transition: var(--transition);
}

.user-page-change-pass {
  width: min(50rem, 92vw);
  margin: 4rem auto 0 auto;
  text-align: center;
  padding: 2.2rem;
  background-color: var(--white);
  border: 1px solid var(--grey-lighter);
  box-shadow: var(--shadow);
}

.change-password-btn {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  width: 70vw;
  max-width: 20rem;
  opacity: 0.95;
  height: 2.5rem;
  border-radius: 0;
  background-color: var(--clr-prim);
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  transition: var(--transition);
}

.change-password-btn:hover {
  background-color: var(--clr-prim-active);
  opacity: 1;
  transition: var(--transition);
}

.change-password {
  margin-top: 1.5rem;
}

.change-password input {
  display: flex;
  margin: auto;
  padding: 0.6rem;
  height: 2.5rem;
  width: 70vw;
  max-width: 20rem;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.change-password input:focus {
  opacity: 1;
}

.change-password-alert {
  font-weight: 700;
  color: red;
}

/*==============
Login
==============*/
.auth-box {
  margin: 4.5rem auto 0 auto; 
  padding-top: 3rem;
  width: 90vw;
  max-width: 30rem;
  height: 36rem;
  background-color: var(--white);
  border: 1px solid var(--grey-lighter);
  text-align: center;
  box-shadow: var(--shadow);
  z-index: 100;
}
@media screen and (min-width: 600px) {
  .auth-box {
    margin: 6rem auto 0 auto;
  }
}
.auth-box h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.login-form {
  position: relative;
}

.login-form input {
  display: flex;
  margin: auto;
  padding: 0.6rem;
  height: 2.5rem;
  width: 70vw;
  max-width: 20rem;
  opacity: 0.8;
  margin-bottom: 1rem;
}
.login-form input:focus {
  opacity: 1;
}

.auth-submit-btn {
  margin-top: 1.2rem;
  margin-bottom: 2.5rem;
  width: 70vw;
  max-width: 20rem;
  opacity: 0.95;
  height: 2.5rem;
  border-radius: 0;
  background-color: var(--clr-prim);
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  transition: var(--transition);
}
.auth-submit-btn:hover {
  background-color: var(--clr-prim-active);
  opacity: 1;
  transition: var(--transition);
}

.login-page-links {
  font-weight: 700;
  margin-top: 1.3rem;
}
.login-page-links p {
  transition: var(--transition);
}
.login-page-links p:hover {
  transition: var(--transition);
  color: var(--clr-prim-active);
}

.failed-login-alert {
  position: absolute;
  left: 0;
  right: 0;
  top: 14.5rem;
  color: red;
  font-weight: 700;
  font-size: 1;
}

.underline {
  width: 70vw;
  max-width: 20rem;
  height: 1px;
  background-color: var(--clr-prim-active);
  margin: auto;
}

/*===========
Register
===========*/
.register-form {
  position: relative;
}

.register-form input {
  display: flex;
  margin: auto;
  padding: 0.6rem;
  height: 2.5rem;
  width: 70vw;
  max-width: 20rem;
  opacity: 0.8;
  margin-bottom: 1.4rem;
}
.register-form input:focus {
  opacity: 1;
}

.form-err-msg {
  position: absolute;
  margin: auto;
  margin-top: -1.5rem;
  left: 0;
  right: 0;
  display: none;
}

input:not(:placeholder-shown):not(:focus):invalid~.form-err-msg {
  display: block;
  color: red;
}

.failed-register-alert {
  position: absolute;
  color: red;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700;
}

/*===========
Reset Password
===========*/
.reset-submit-btn {
  margin-bottom: 2.5rem;
  width: 70vw;
  max-width: 20rem;
  opacity: 0.95;
  height: 2.5rem;
  border-radius: 0;
  background-color: var(--clr-prim);
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  transition: var(--transition);
}
.reset-submit-btn:hover {
  background-color: var(--clr-prim-active);
  opacity: 1;
  transition: var(--transition);
}

.failed-reset-alert {
  position: absolute;
  color: red;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700;
}

/*===========
Footer
===========*/
.footer {
  height: 300px;
  background-color: var(--grey-active);
}